<section class="sidebar__intern">
  <section>
    <div>
      <% if @setting && @setting.logo_id.present? %>
        <%= image_tag url_for(@setting.logo_id) %>
      <% else %>
        <!-- Muestra una imagen predeterminada si no hay logo adjunto -->
        <%= image_tag 'default_logo.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to products_path do %>
        Productos
      <% end %>
    </div>
    <div>
      <%= link_to orders_path do %>
        Pedidos
      <% end %>
    </div>
  </section>
  <section>
    <div>
      <%= link_to settings_path do %>
        Configuración
      <% end %>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path %>
      <% end %>
    </div>
  </section>
</section>
