<div class="card-product" id="<%= dom_id order %>">
  <div >
    <h3>Nombre:</h3>
    <%= order.name %>
  </div>
  <div>
    <h3>Precio:</h3>
    <%= order.price %>
  </div>
  <div>
    <h3>Cantidad:</h3>
    <%= order.quantity %>
  </div>
  <%= link_to "Más info", order %>
</div>
