<section class="logo-session">
  <% if @setting.logo.present? %>
        <%= image_tag @setting.logo, style:"width: 100px" %>
      <% else %>
        <%= image_tag 'default_logo.svg' %>
      <% end %>
</section>
<section class="card-session">
  <h2>Inicia Sesión </h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field field--checkbox">
        <%= f.label :remember_me, "¿Recordar tus datos?" %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Inicia Sesión", class:"btn btn--redondeado-semi btn--color-azul" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section>
