<div class="card-product" id="<%= dom_id product %>">
  <div >
    <h3>Nombre:</h3>
    <%= product.name %>
  </div>
  <div>
    <h3>Precio:</h3>
    <%= product.price %>
  </div>
  <div>
    <h3>Cantidad:</h3>
    <%= product.quantity %>
  </div>
  <%= link_to "Más info", product %>
</div>
